
/*Style cho nút bấm btn-header_content 1 & 2**/
.btn-header_content{
    margin-left: 86%;
}

.btn-header_content_1{
  
    padding: 15px;
    margin-top: px;
    border: none;
    color: #ffffff;
    background-color:   #42b72a;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: capitalize; 
}   

.btn-header_content_2{
    padding: 15px;
    border: none;
    color: #ffffff;
    background-color:#ff8401;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: capitalize;
} 

.btn-header_content_1:hover {background-color: lightskyblue}
.btn-header_content_2:hover {background-color: lightskyblue}
.btn-header_content_1:active {
    background-color:  #009688;
    transform: translateY(4px)
}
.btn-header_content_2:active {
    background-color:  #009688;
    transform: translateY(4px);
}

/*Style cho dr-header_logo**/
.dr-header_logo {
    background-color:#FFD700;
    margin-top: -80px;
    margin-bottom: 100px;
 
    border:60px solid #FFD700;
}
.dr-header{
    background-color: rgb(245, 241, 241);
    margin-left: -10px;
    margin-right: -10px;
}
/*Style cho dr-navbar-center-header**/
.dr-navbar-center-header{
    margin-left: 58%;
    font-size: 1.7rem;
    margin-top: -85px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    list-style-type: circle;
    padding-right: 25px;
    padding-bottom: 25px;
}
.a1{
    color: rgb(28, 16, 194);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
   
    
    
}
.a2 {
    color: white;
    border:none;
    text-decoration: none;
    text-align: center;
    
}
.link-website-text {
    font-size: 1.7rem;
    margin-top: -145px;
    color: black;
    margin-left: 250px;
}


.dropdown {
    border-right: 1px solid white;
}
.navmenu {
  
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    font-weight: bold;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
   
    
    
    
}

.navmenu-fn {
  
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    font-weight: bold;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;

}

.site-menu{
    background-color: #151b4e;
    display: inline-block;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 1%;
    border-right: 100px;
  
}
.navlink-imgcontent0 {
    
    display: flex;
    justify-content: space-around;
    list-style: none;
    float: left;
}
.category-lista {
    list-style: none;

}
.category-list {
    list-style: none;
    
  
}
.a1-1{
    
    font-size: 1.7rem;
    
    color: #2962ca;
    text-decoration: none;
    
}
.a1-1-a {
    font-size: 2rem;
    color:black;
    text-decoration: none;
}
.navlink-imgcontent{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
   
  
}
.navlink-imgcontent2{
    float: right;
   
    padding-right: 300px;
    
   
  
  
}
.container-left {
   
   
    float: right;
    
    
}
.container-right {
 
    float: left;
    
   margin-right: -500px;
   
   
    
    
}

.category__headinga1{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    
 
}
.category__heading1 {
    border-bottom: 2px solid black;
    padding-right: 400px;
    padding-bottom: 10px;
    
}

.category__heading2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    padding-left: 230px;
   
}
.navlink{
  
    padding-left: 30px;
}
/**/
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.gid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
   
    flex-wrap: wrap;
}